/* 태블릿 버전 */
@media screen and (max-width:768px){
    header.active{box-shadow: none;}
    #menu{display: none;}
    #mobile-menu{display: block; width: 100%; background-color:#282828; height: 37vh; position: absolute; z-index: 3000; transition: 0.5s; top: -100%; overflow: hidden;} 
    #mobile-menu > ul{float: left; width: 20%;}
    #mobile-menu > ul > li{padding: 55px 0px;}
    #mobile-menu > ul:first-of-type > li > a,
    #mobile-menu > ul:first-of-type > li > .mobile-sub_menu {padding-left: 19px;}
    #mobile-menu > ul > li > a{display: inline-block; font-size: 20px; color: white; padding-bottom: 12px; font-weight: 900;}
    .mobile-sub_menu > li{padding: 7px 0;}
    .mobile-sub_menu > li > a{color: white;}
    #mobile-menu.active{top:0;}
    /* trigger */
    .trigger{
        width: 50px;
        height: 50px;
        position: absolute;
        top: 15px;
        left: 50%;
        z-index: 9000;
    }
    .trigger:before{
        content: '\e941';
        font-family: xeicon;
        color: white;
        font-size: 44px;
        text-align: center;
    }
    .trigger.active:before{
        content: "\e944";
    }
    .slide button{width: 57px; height: 57px;}
    .slide button::before{font-size: 33px;}
    .roster-heading{font-size: 40px;}
    .roster-inner{width: 768px;}
    .member{width: 136px;}
    .photo{height: 230px;}
    .worlds-t1{padding-top: 53px; width: 100%;} 
    .worlds-t1 > h1{font-size: 40px; padding: 17px;}
    .winner-inner{display: none;}
    .worlds-winner-t1-year{display: block; font-size: 14px;}
    .worlds-winner-t1-year h2{padding-top: 7px;}
    .worlds-winner-t1-year > h2 > span{color: rgb(0, 26, 255);}
    .worlds-winner-t1-year > h2 > span:nth-child(2) {color: red;}
    .player{margin-top: 100px;}
    .faq-inner{width: 100%;}
    .footer-inner{width: 100%;}
    .footer-t1 h1{font-size: 48px; margin-top: 38px;}
    .sns{float: none; display: inline-block; padding-top: 20px;}
}
/* 모바일 버전 */
@media screen and (max-width:610px){
    #mobile-menu > ul > li > a{font-size: 17px;}
    #mobile-menu > ul:nth-child(3){padding-left: 10px;}
    .slide button{width: 47px; height: 47px;}
    .slide button::before{font-size: 27px;}
    .roster-heading{font-size: 30px;}
    .roster-inner{width: 610px;}
    .member{width: 104px;}
    .member::before{width: 35px; height: 35px; font-size: 14px;line-height: 35px;}
    .photo{height: 210px;}
    .name{font-size: 20px;}
    .worlds-t1 > h1{font-size: 35px; padding: 15px;}
    .winner-inner{display: none;}
    .worlds-winner-t1-year{display: block; font-size: 14px;}
    .worlds-winner-t1-year h2{padding-top: 7px;}
    .worlds-winner-t1-year > h2 > span{color: rgb(0, 26, 255);}
    .worlds-winner-t1-year > h2 > span:nth-child(2) {color: red;}
    .footer-t1 h1{margin-top: 55px;}
}
@media screen and (max-width:492px){
    header #logo a img{width: 70px;}
    #mobile-menu > ul > li > a{font-size: 15px;}
    #mobile-menu > ul:nth-child(2){padding-left: 6px;}
    #mobile-menu > ul:nth-child(3){padding-left: 19px;}
    #mobile-menu > ul:nth-child(4){padding-left: 12px;}
    .mobile-sub_menu > li > a{font-size: 13px;}
    .roster-inner{width:492px;}
    .member{width: 84px;}
    .member::before{width: 29px; height: 29px; font-size: 12px;line-height: 29px;}
    .photo{height: 150px;}
    .t1-name{font-size: 17px;}
    .footer-t1 h1{display: none;}
    .btn-top{right: 30px; width: 35px; height: 35px; font-size: 24px; line-height: 40px;}
}
@media screen and (max-width:360px){
    #mobile-menu > ul > li > a{font-size: 11px;}
    .mobile-sub_menu > li > a{font-size: 10px;}
    #mobile-menu > ul:nth-child(3){padding-left: 25px;}
    #mobile-menu > ul:nth-child(2) > li > .mobile-sub_menu{padding-left: 5px;}
    #mobile-menu > ul:nth-child(4) > li > .mobile-sub_menu{padding-left: 5px;}
    .trigger{left: 45%;}
    .slide button{width: 37px; height: 37px;}
    .slide button::before{font-size: 21px;}
    .slide button.slick-prev{left: 8px;}
    .slide button.slick-next{right: 8px;}
    .roster{padding-top: 60px;}
    .roster-heading{font-size: 22px;}
    .roster-inner{width: 360px;}
    .member{width: 54px;}
    .member::before{width: 28px; height: 28px; font-size: 12px;line-height: 28px;}
    .photo{height: 160px;}
    .t1-name{font-size: 15px;}
    .worlds-t1 > h1{font-size: 29px;}
    .faq-inner h1{font-size: 28px;}
    .company span{font-size: 15px;}
    .sns{font-size: 19px;}
    .information span{font-size: 15px;}
}